:root { 
--deep_purple_900_33_01:#1a1abc33; 
--blue_gray_100_01:#d9d9d9; 
--gray_900_99:#17171799; 
--light_blue_600:#0ea5e9; 
--cyan_A200_00:#22f7dc00; 
--deep_purple_900_33:#1b1bbc33; 
--black_900_1c:#0000001c; 
--light_blue_A700_a2:#009af1a2; 
--white_A700_33:#ffffff33; 
--black_900_01:#0a0a0a; 
--black_900:#000000; 
--green_400_00:#5df96000; 
--light_blue_A700:#009af1; 
--blue_gray_700:#525252; 
--white_A700_38:#ffffff38; 
--black_900_02:#0b0b0b; 
--gray_700_33:#5f5f6233; 
--gray_600:#727272; 
--gray_900_02:#141414; 
--gray_700:#5f5f5f; 
--gray_900_03:#171717; 
--gray_900_04:#151515; 
--gray_500:#a3a3a3; 
--blue_gray_100:#d4d4d4; 
--gray_800:#3f3f3f; 
--gray_900:#262626; 
--gray_900_01:#033009; 
--gray_300:#e5e5e5; 
--gray_100:#f5f5f5; 
--white_A700_00:#ffffff00; 
--gray_900_7f:#1717177f; 
--black_900_19:#00000019; 
--light_blue_A700_66:#009af166; 
--white_A700:#ffffff; 
}